﻿@page "/doctorsoverview"

<h1 class="page-title">Наши доктора</h1>

@if (@Doctors == null)
{
    <p><em>Доктора загружаются...</em></p>
}
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Doctors)
        {
            <tr>
                <td></td>
                <td>@doctor.Id</td>
                <td>@doctor.LastName</td>
                <td>@doctor.FirstName</td>
                <td>@doctor.MiddleName</td>
                <td>
                    <a href="@($"doctordetail/{doctor.Id.ToString()}")" class="btn btn-primary table-btn">
                        Детали    
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>