﻿@page "/doctordetail/{DoctorId}"

<h1 class="page-title">Карточка доктора @Doctor.FirstName @Doctor.MiddleName</h1>

<div class="col-12 row">
    <div class="col-2">

    </div>
    <div class="col-10 row">
        <div class="col-xs-12 col-sm-8">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col-sm-8">
                    <label class="form-control-plaintext">@Doctor.Id</label>
                </div>
            </div>
             <div class="form-group row">
                <label class="col-sm-4 col-form-label">Имя</label>
                <div class="col-sm-8">
                    <label class="form-control-plaintext">@Doctor.FirstName</label>
                </div>
            </div>
             <div class="form-group row">
                <label class="col-sm-4 col-form-label">Отчетсво</label>
                <div class="col-sm-8">
                    <label class="form-control-plaintext">@Doctor.MiddleName</label>
                </div>
            </div>
             <div class="form-group row">
                <label class="col-sm-4 col-form-label">Фамилия</label>
                <div class="col-sm-8">
                    <label class="form-control-plaintext">@Doctor.LastName</label>
                </div>
            </div>
        </div>
    </div>
</div>